**/*/*.log
.env
.idea/

good-news\.log

predictions/
src/node_modules
.env.old
data
application/GoodNews/iOS/bin
application/GoodNews/iOS/obj
application/GoodNews/packages
application/GoodNews/Droid/obj
node_modules
.env.swp
.DS_store
**/*/bin
**/*/obj
.vscode